*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'S-CoreDream', sans-serif;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1024px;

  /* Mobile */
  @media only screen and (max-width: 767px) {
    /* Your styles here */
  }

  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Your styles here */
  }

  /* Desktop */
  @media only screen and (min-width: 992px) {
    /* Your styles here */
  }
}

